@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap');

	
body{
	margin: 0;
	background-color: #8C98A9;
	letter-spacing: .14em;
}

header{
	font-family: "Impact";
	background-color: #c21313;
	height: 120px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 200px 1fr 200px;
	grid-template-areas: 	"logo nav form-elements"
							"logo h1 form-elements";
	align-items: flex-start;
	gap: 1em;
	padding: .75em 1em 3em;
	align-content: space-between;
}
h1{
	color: white;
	text-align: center;
	grid-area: h1;
}


nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
	grid-area: nav;
	margin: .3em auto 0em;
	
}
 nav > a{
	font-size: 35px;
	color: black;
	text-decoration: none;
	padding: 0 .3em 0;
}

svg{

}

#current-page{
	background-color: #e88080;
}

a:hover{
	background-color: brown;
	color: lightgrey;
	
}

a:focus{
	background-color: #5bc5f5;
	color: white;
	margin: 0;
	outline: none;
	
}

#current-page:focus{
		background-color: #5bc5f5;
	color: white;
	margin: 0;
	outline: none;
}
	
.section-name:focus{
	background-color: #5bc5f5;
	color: white;
	margin: 0;
	outline: none;
}
	
 .form-elements svg:hover{
	background-color: brown;
}

#logo{
	grid-area: logo;
	
}

.form-elements{
	display: flex;
	flex-direction: row;
	gap: 3em;
	flex-wrap: wrap;
	align-items: center;
	grid-area: form-elements;
}

#promos{
	height: 500px;
	background-image: url("img/promo-section-background.jpg");
	
}

#top-products{
	height: 420px;
	background-color: grey;
	
}

#top-products img{
		height: 80%;
		border: solid black 3px;
	
}

#top-products img:hover{
		height: 80%;
		border: solid #c21313 3px;
	
}



.product-link{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 300px;
	
}

.product-link a{
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: "Fira Sans condensed";
}

.product-header{
	font-size: 30px;
	font-family: "Impact";
	color: white;
	text-align: center;
	margin: 10px auto 0;
	
}

.product-contianer{
	height: 10px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
    width: 100%;
	height: 90%;
}

#misson-statement{
	height: 325px;
	background-image: linear-gradient(to bottom, #393938, #535451, #6f706c, #8c8d89, #aaaca6);
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 1em;
	font-family: "Fira Sans condensed";
	
}

#misson-statement  p{
	width: 80%;
	text-align: center;
	margin: 1em auto 1em;
}

#promo-material{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 600px;
	
}

#tag-lines{
	display: flex;
	flex-direction: column;
	background-color: #2C3646;
	color: white;
	border-right: solid 3px #8C98A9;
	font-size: 26px;
	font-family: "Fira Sans condensed";
}
#models{
	background-color: #2C3646;
	color: white;
	font-style: italic;
	font-family: "Fira Sans condensed";
}

#models p{
	text-align: center;
	font-size: 20px;
}

footer{
	height: 400px;
	background-color: DarkSeaGreen;
	
}

.footer-links{
	width: 600px;
	height: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: auto;
	align-content: center;
	justify-content: flex-start;
	row-gap: 1em;
	column-gap: 3em;
	padding-top: 6em;
	font-family: "Impact";

}

.footer-links a{
	text-decoration: none;
	color: white;
	font-size: 23px;
}

.section-name{
	font-size: 50px;
	margin: .25em;
	font-family: "Impact";
}

hr{
	
	border: solid 1px #8C98A9;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

span{
	color: white;
	font-style: bold;
	font-size: 20px;
	margin: auto;
	display: flex;
	margin-top: 3em;
	align-items: flex-end;
	justify-content: center;
	font-family: "Impact";
}

form{
	
	margin: 3em auto 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: DarkSeaGreen;
	width: 600px;
	height: 300px;
	border: solid 2px white;
	padding: 2em;
}

.inputField{
	height: 30px;
	width: 400px;
	
}

label{
	color: white;
	font-size: 26px;
}

button[type="submit"]{
	background-color: white;
	width: 400px;
	height: 40px;
	margin: auto;
	border: solid 1px #8C98A9;
	color: #8C98A9;
}

button[type="submit"]:hover{
	background-color: #2C3646;
	color: white;
	border: solid black 1px;
	
}

.loginLabel{
	color: white;
	font-family: "impact";
	text-align: center;
	font-style: bold;
	text-decoration: underline;
	font-size: 36px;
	margin-top: 30px;
	
}

#userName{
	font-size: 20px;
	color: white;
	
}

#product-dashboard{
	display: inline-flex;
	flex-direction: column;

	justify-content: flex-start;
	align-items: flex-start;
	gap: 2em;

	
}

.product-info{
		display: grid;
		grid-template-columns: 400px 400px;

		justify-content: flex-start;
		width: 100%;
		height: 400px;
		
		background-color: grey;
		border: solid 2px DarkSeaGreen;
	
}

#productEditor{
	visibility: hidden;
	
	
}

#loginLogoutStatus{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
#loginLogoutStatus p{
	color: white;
	text-decoration: none;

}